#search {
  align-content: center;
  height: 22px;
  width: 22px;
}
.new-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#user-name {
  align-self: center;
}
#header {
  height: 150px;
}
/* .container {
  margin: 0;
  padding: 0;
} */
#drop {
  padding-top: 20%;
}
.form-control {
  margin-left: 15px;
  height: 27px;
  border: none;
}
@media screen and (max-width: 768px) {
  #notification {
    display: none;
  }
  #user-name {
    display: none;
  }
  #drop {
    display: none;
  }
}

#btnContainer {
  float: right;
}
#notification {
  margin-top: 22px;
}
.navigationBar {
  justify-content: space-between;
}
.container-fluid {
  padding: 0;
}
.userProfile {
  position: relative;
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
}

.userProfile img {
  width: 100%;
  height: auto;
}

.searchRow {
  height: 4em;
}

.filter-Row {
  height: 4em !important;
}
.navbar {
  width: 100%;
}
.nav-link {
  border: none;
  background: none;
  color: black;
  text-align: center;
}

footer {
  position: realtive;
  bottom: 0;
  height: 10vh;
}

.privacy {
  position: absolute;
  margin-top: 1vh;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  footer {
    text-align: center !important;
    padding: 0 !important;
  }

  .privacy {
    position: unset;
    margin-top: 40vh !important;
    padding: 0;
  }
}

/* .btn {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
} */
/*.env {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 30%;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  translate: 0 -50% 1em;
}

 .pagination {
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}
.card {
  width: 460px;
  height: 618px;
}
.card-title {
  font-size: 26px;
}
.card-subtitle {
  font-size: 15px;
}
.card-img-top {
  width: 100%;
}
.stars {
  float: right;
}
.timeline {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 60%;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  translate: 0 50% 1em;
}
.icon {
  float: left;
}
.seats {
  margin-top: 22px;
}
.deadline {
  float: right;
  width: 115px;
}
.apply {
  margin-top: 22px;
  width: 133px;
  height: 48px;
  color: #f88634;
  background: #f8863400 0% 0% no-repeat padding-box;
  border: 2px solid #f88634;
  border-radius: 24px;
  opacity: 1;
}
.rating {
  margin-top: 20px;
} */
