$primary-color: #8800be
$secondary-color: #8d99ae


*
    margin: 0
    padding: 0
    box-sizing: border-box
    transition: all 0.3s ease
    font-family: sans-serif

img 
    width: 100px
    
body
    width: 100%
    height: 100%
    background: $primary-color
    margin-bottom: 25rem
    display: flex
    align-items: center
    justify-content: center

.container
    width: 1200px
    margin: auto

header
    text-align: center
    padding: 2rem
    h1
        font-size: 2.5rem
        font-weight: 300
        color: #ffffff

.toggle-btns
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 2rem

    i
       img
        width: 50px
        background: darken ($primary-color, 10)
        color: #ffffff
        text-align: center
        padding: 0.5rem
        border-radius: 0.2rem
        margin-left: 0.5rem
        font-size: 1.5rem
        cursor: pointer
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1)

        &:hover
            transform: translate(-0.25rem)
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1)

        &.active
            background: #ffffff
            color: $primary-color

.project-container
    .project
        background: #ffffff
        padding: 2rem
        border-radius: 0.5rem
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2)
        margin-bottom: 1rem
        &:hover
            transform: scale(1.02)
            box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2)

        .project-title
            color: $primary-color
            font-weight: 500

        .project-desc,
        .project-info
            color: $primary-color

    &.list
        display: grids
        grid-template-columns: 1fr
        grid-gap: 1rem


        .project
                display: grid
                grid-template-columns: 100px 1fr 360px
                grid-template-rows: auto auto auto
                grid-gap: 1rem

                .top-menu
                    grid-column: 1/4
                    grid-row: 1/2
                    justify-self: end
                    i
                        img
                            width: 30px
                            color: $secondary-color
                            cursor: pointer
                            margin-left: 1rem

                .profile-img
                    grid-column: 1/2
                    grid-row: 2/4
                    justify-self: center
                    align-self: center
                    width: 80px
                    height: 80px
                    border-radius: 50%

                .project-title
                    grid-column: 2/4
                    grid-row: 2/3

                .project-desc
                    grid-column: 2/3
                    grid-row: 3/4
                    margin-left: 4rem

                .project-info
                    grid-column: 3/4
                    grid-row: 3/4

                    .detail
                        .info
                            display: flex
                            i
                                img
                                    width: 30px
                                    font-size: 1.2rem
                        
                        .members
                            img
                                width: 50px
                                border-radius: 50%

                        &.flex
                            display: flez
                            align-items: center
                            justify-content: space-between
                            img
                                width: 40px
                                height: 40px
                                border: 2px solid $primary-color
                                border-radius: 50%
                                margin-left: -1rem

    &.grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 2rem

        .project
            display: grid
            grid-template-columns: 1fr

            .top-menu
                i
                    img
                        width: 30px
                        color: $secondary-color
                        cursor: pointer
                        margin-left: 1rem

            .profile-img
                width: 60px
                height: 60px
                margin-bottom: 1rem

            .project-title,
            .project-desc,
            .project-info
                margin-bottom: 1rem

                .detail
                    .info
                        display: flex
                        i
                            img
                                width: 30px
                                font-size: 1.2rem

                    .members
                        img
                            width: 50px
                            border-radius: 50%

                    &.flex
                        display: flez
                        align-items: center
                        justify-content: space-between
                        img
                            width: 40px
                            height: 40px
                            border: 2px solid $primary-color
                            border-radius: 50%
                            margin-left: -1rem