.volunteer-card {
  margin-top: 64px;
}

.volunteer-card .img-container .main-img {
  width: 100%;
  height: 625px;
}

.volunteer-card .img-container .sub-img {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.volunteer-card .img-container .sub-img img {
  width: 100%;
}

.volunteer-card .img-container .sub-img .mini-img {
  margin-left: 7px;
}

.volunteer-card .img-container .sub-img .mini-img img {
  width: 100%;
}

.volunteer-card .data-container {
  margin-top: 42px;
}

.volunteer-card .data-container .title {
  width: 90%;
}

.volunteer-card .data-container .target {
  font-size: 0.8em;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 20px;
  translate: 0 50%;
  background-color: white;
}

.volunteer-card .data-container .btns {
  margin-top: 30px;
  margin-bottom: 40px;
}

.volunteer-card .data-container .btns .favourite .add {
  width: 40%;
  height: 50px;
  color: #757575;
  background: #f8863400 0% 0% no-repeat padding-box;
  border: 2px solid #757575;
  border-radius: 25px;
  opacity: 1;
  float: left;
}

.volunteer-card .data-container .btns .recommend .reco {
  margin-left: 20px;
  width: 40%;
  height: 50px;
  color: #757575;
  background: #f8863400 0% 0% no-repeat padding-box;
  border: 2px solid #757575;
  border-radius: 25px;
  opacity: 1;
}

.volunteer-card .data-container .rate {
  display: flex;
  justify-content: center;
  border-top: 1px solid #757575;
}

.volunteer-card .data-container .rate .rating {
  translate: 0 -50%;
  background-color: white;
}

.volunteer-card .data-container .m-details {
  margin-top: 30px;
}

.volunteer-card .data-container .m-details .default {
  color: #757575;
}

.volunteer-card .data-container .m-details .location {
  margin-top: 10px;
  padding: 16px;
  width: 153px;
  height: 130px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.volunteer-card .data-container .m-details .web {
  margin-top: 10px;
  padding: 16px;
  width: 153px;
  height: 130px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.volunteer-card .data-container .m-details .calendar {
  margin-top: 10px;
  padding: 16px;
  width: 153px;
  height: 130px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.volunteer-card .data-container .m-details .organization {
  margin-top: 10px;
  padding: 16px;
  width: 153px;
  height: 130px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.volunteer-card .data-container .btn-apply {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.volunteer-card .data-container .btn-apply .apply {
  width: 40%;
  height: 60px;
  color: #f88634;
  background: #f8863400 0% 0% no-repeat padding-box;
  border: 2px solid #f88634;
  border-radius: 30px;
  opacity: 1;
}

.m-o-c {
  margin-top: 60px;
}

.m-o-c .left-data .row a:hover, .m-o-c .left-data .row a:focus {
  text-decoration: none;
  outline: none;
}

.m-o-c .left-data .row .tab .nav-tabs {
  border: none;
}

.m-o-c .left-data .row .tab .nav-tabs li a {
  color: #555;
  background: #fff;
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 20px 14px;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0.3s;
}

.m-o-c .left-data .row .tab .nav-tabs li.active a {
  color: #000000;
  background: #fff;
  border: none;
}

.m-o-c .left-data .row .tab .nav-tabs li a:hover {
  color: #000000;
  background: #fff;
  border: none;
}

.m-o-c .left-data .row .tab .nav-tabs li.active a:hover {
  color: #1d627c;
  background: #fff;
  border: none;
}

.m-o-c .left-data .row .tab .nav-tabs li a:before, .m-o-c .left-data .row .tab .nav-tabs li a:after {
  content: "";
  background-color: rgba(29, 98, 124, 0.09);
  width: 100%;
  height: 80%;
  position: absolute;
  top: -80%;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transition: all 0.3s ease 0s;
}

.m-o-c .left-data .row .tab .nav-tabs li a::after {
  background-color: #000000;
  top: auto;
  bottom: -4px;
  height: 4px;
  clip-path: none;
}

.m-o-c .left-data .row .tab .nav-tabs li.active a:after {
  bottom: 0;
}

.m-o-c .left-data .row .tab .nav-tabs li a:hover:after {
  bottom: 0;
}

.m-o-c .left-data .row .tab .tab-content {
  color: #555;
  background: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 20px;
  box-shadow: 5px 5px 10px #cdcdcc;
  position: relative;
}

.m-o-c .right-data .information {
  border: 1px solid #e8e8e8;
  padding: 30px;
  margin-bottom: 40px;
}

.m-o-c .right-data .information .i-info {
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.m-o-c .right-data .information .i-skills {
  border-bottom: 1px solid #e8e8e8;
}

.m-o-c .right-data .information .i-days {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.m-o-c .right-data .recent {
  border: 1px solid #e8e8e8;
  padding: 30px;
}

.m-o-c .right-data .recent .uper {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
}

.m-o-c .right-data .recent .uper .uper-cont {
  margin: 0;
  padding: 0;
  font-size: 22px;
  margin-bottom: 10px;
}

.m-o-c .right-data .recent .middle .images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.m-o-c .right-data .recent .middle .images .ii {
  display: flex;
  justify-content: center;
}

.m-o-c .right-data .recent .middle .images .ii ul {
  padding: 0;
  list-style: none;
}

.m-o-c .right-data .recent .middle .images .ii .recent-images {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.m-o-c .right-data .recent .lower {
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

@media only screen and (max-width: 479px) {
  .tab .nav-tabs {
    margin: 0 0 10px;
  }
  .tab .nav-tabs li {
    width: 100%;
    text-align: center;
  }
}
